:host {
  display: block;
  min-height: 100vh;
}

.docs-site-content {
  display: grid;
  grid-template-rows: 100%;
  min-height: 0;
}

.docs-site-content > router-outlet {
  display: none;
}

.docs-site-content > app-documentation-shell {
  display: block;
  flex: 1;
  min-height: 0;
}
