{
  email {$CADDY_ACME_EMAIL}
  on_demand_tls {
    ask http://backend:3000/check-domain?domain={host}
  }
}

(tailscale_only) {
  @authorized remote_ip 100.64.0.0/10 127.0.0.1 95.217.107.125

  handle @authorized {
    reverse_proxy {args[0]}
  }

  handle {
    abort
  }
}

{$DOZZLE_HOST} {
  import tailscale_only dozzle:8080
}

{$GRAFANA_HOST} {
  import tailscale_only grafana:5050
}

www.{$FRONTEND_HOST} {
  redir https://{$FRONTEND_HOST}{uri} permanent
}

{$FRONTEND_HOST} {
  reverse_proxy frontend:4000
}

:443 {
  tls {
    on_demand
  }
  reverse_proxy backend:3000
}

:80 {
  redir https://{host}{uri} permanent
}
