{
  email {$CADDY_ACME_EMAIL}
  on_demand_tls {
    ask http://linkshift-app_backend:3000/check-domain
  }
}

(tailscale_only) {
  @authorized remote_ip 100.64.0.0/10 127.0.0.1 95.217.107.125
  handle @authorized {
    reverse_proxy {args[0]}
  }
  handle {
    abort
  }
}

{$DOZZLE_HOST} {
  import tailscale_only linkshift-infra_dozzle:8080
}

{$GRAFANA_HOST} {
  import tailscale_only linkshift-infra_grafana:5050
}

www.{$FRONTEND_HOST} {
  redir https://{$FRONTEND_HOST}{uri} permanent
}

{$FRONTEND_HOST} {
  reverse_proxy linkshift-app_frontend:4000
}

{$BACKEND_HOST} {
  reverse_proxy linkshift-app_backend:3000
}

https:// {
  tls {
    on_demand
  }
  reverse_proxy linkshift-app_backend:3000
}

http:// {
  redir https://{host}{uri} permanent
}