openapi: 3.1.0
info:
  title: LinkShift Management API (API Key Accessible Endpoints)
  version: 1.0.0
  summary: Organization-scoped redirect management API
  description: |
    Organization-scoped Management API for redirect configuration, link maps, and operational checks.
    Use it to automate what you can also do in the LinkShift dashboard — without dashboard session cookies.

    **Authentication**
    - Send your key on every request: `X-API-Key: <your_key>` (preferred).
    - Alternative header supported by the backend: `Authorization: ApiKey <your_key>`.

    **Typical setup order**
    1. Domain group → custom domains and/or LinkShift subdomains → redirect rules (and optional link maps).
    2. Link map + entries when rules resolve keys instead of a fixed destination.
    3. Redirect tests + simulate for CI; analytics for traffic review.

    **Errors and recovery**
    - `401` — key missing, revoked, or wrong organization. Create or rotate a key in the dashboard (Organization → API keys).
    - `402` — API access isn't on your current plan. Upgrade subscription, then retry.
    - `429` — per-key rate limit for your plan. Back off with jitter; read current usage via GET /api/v1/organization/usage (don't hard-code limits).
    - `400` — request body or query failed validation; inspect `details` and `requestId` in the JSON body.
    - `404` — ID doesn't exist or isn't in your organization scope.

    **Dashboard-only**
    API key CRUD, billing checkout, and some analytics views aren't in this spec — they require signed-in dashboard auth.

    **Guides** (same concepts, more examples): *Getting started*, *Domains and groups*, *Redirect rules*, *Redirect rules — operations*, *Link map entries*.
servers:
  - url: https://linkshift.app
    description: Production API host
security:
  - ApiKeyAuth: []
tags:
  - name: Organization
    description: |
      Identity and capacity for the organization tied to your API key.
      Start with GET organization (sanity check), then GET organization/usage before bulk imports or CI loops.
  - name: Domain Groups
    description: |
      First infrastructure layer: groups scope domains, subdomains, rules, tests, and link maps.
      Set robots policy and redirect delivery mode here before attaching domains.
  - name: Domains
    description: |
      Your custom hostnames assigned to a domain group.
      Create after the group exists; rules match traffic on these hosts.

      New domains start with `dnsStatus: PENDING` until DNS points at the LinkShift target IP
      (`APP_DOMAIN_TARGET_IP`). Call POST `/api/v1/domains/{id}/verify-dns` to check manually, or
      let the edge probe succeed on first HTTPS traffic.

      **Internal (not in this spec):** Caddy calls `GET /check-domain?domain={hostname}` before
      on-demand TLS for custom domains. That endpoint returns **403** when the hostname is unknown,
      the domain group is inactive, or DNS is not verified yet (`dns_pending`). LinkShift subdomains
      (`*.linkshift.app`) skip DNS verification (wildcard TLS).
  - name: Subdomains
    description: |
      LinkShift-hosted short labels (e.g. `promo` → `promo.linkshift.app`) in a domain group.
      Use when you don't bring your own domain yet.
  - name: Redirect Rules
    description: |
      Matching logic and HTTP status for live redirects.
      Pair with POST simulate (no live traffic) and GET analytics (aggregated hits).
      List/create require `domainGroupId`.
  - name: Redirect Tests
    description: |
      Named fixtures (path + expected outcome) for regression and CI.
      Store expectations here; run POST redirect-rules/simulate to evaluate them in pipelines.
  - name: Link Maps
    description: |
      Named key→URL tables referenced by rules via `linkMapId`.
      Create the map, then add entries (or import) before pointing a rule at it.
  - name: Link Map Entries
    description: |
      Keys inside a link map. Supports cursor list, single CRUD, bulk delete (rollback), and import (up to 500 rows, create-only).
paths:
  /api/v1/organization:
    get:
      tags: [Organization]
      summary: Get organization profile
      description: |
        Returns the organization bound to your API key (`id`, `name`, timestamps).
        Use as a connectivity check after rotating keys or in deployment smoke tests.
        Doesn't include usage counters — call GET organization/usage for limits and inventory.
      operationId: getOrganization
      responses:
        '200':
          description: Organization details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Organization'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '429':
          $ref: '#/components/responses/TooManyRequests'

  /api/v1/organization/usage:
    get:
      tags: [Organization]
      summary: Get organization usage counters
      description: |
        Returns active resource counts (domain groups, domains, rules, link-map entries, etc.) for your organization.
        Compare counts to your plan limits in the dashboard; this endpoint doesn't return limit ceilings or billing state.
        Poll before large imports or rule batches to avoid hitting plan caps mid-run.
      operationId: getOrganizationUsage
      responses:
        '200':
          description: Usage summary
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationUsage'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '429':
          $ref: '#/components/responses/TooManyRequests'

  /api/v1/domain-groups:
    get:
      tags: [Domain Groups]
      summary: List domain groups
      description: |
        Returns every active domain group in one response (no cursor pagination).
        Use `data[].id` as `domainGroupId` on domains, rules, tests, and link maps.
      operationId: listDomainGroups
      responses:
        '200':
          description: Domain groups list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DomainGroupQueryResult'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '429':
          $ref: '#/components/responses/TooManyRequests'
    post:
      tags: [Domain Groups]
      summary: Create domain group
      description: |
        Creates a domain group — the scope container for domains, rules, and link maps.
        Optional `robotsPolicy` / `customRobotsContent` apply to all domains you attach later.
        Optional `redirectDeliveryMode` (`INSTANT` default, or `WITH_NOTICE` for a notice page before redirect).
        Returns 400 when the name is invalid or robots content is missing for CUSTOM policy.
      operationId: createDomainGroup
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateDomainGroupRequest'
      responses:
        '200':
          description: Created domain group
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DomainGroup'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '429':
          $ref: '#/components/responses/TooManyRequests'

  /api/v1/domain-groups/{id}:
    parameters:
      - $ref: '#/components/parameters/EntityId'
    get:
      tags: [Domain Groups]
      summary: Get domain group by ID
      description: |
        Fetches one domain group including robots policy and redirect delivery mode fields.
        Returns 404 when the ID is unknown or soft-deleted outside your organization.
      operationId: getDomainGroup
      responses:
        '200':
          description: Domain group details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DomainGroup'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
    put:
      tags: [Domain Groups]
      summary: Update domain group
      description: |
        Updates name, robots policy, and/or redirect delivery mode for an existing group.
        Changing robots policy or redirect delivery mode impacts all domains in the group on next request.
        Returns 404 when the group doesn't exist in your organization.
      operationId: updateDomainGroup
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateDomainGroupRequest'
      responses:
        '200':
          description: Updated domain group
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DomainGroup'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
    delete:
      tags: [Domain Groups]
      summary: Delete domain group (soft)
      description: |
        Soft-deletes the group; it stops appearing in lists and can't receive new resources.
        Historical analytics may still reference the ID. Returns 404 when already deleted or out of scope.
      operationId: deleteDomainGroup
      responses:
        '200':
          description: Deleted
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'

  /api/v1/domains:
    get:
      tags: [Domains]
      summary: List domains
      description: |
        Returns all active custom domains in one response (no cursor pagination).
        Filter client-side by `domainGroupId` when you only need one group.
      operationId: listDomains
      responses:
        '200':
          description: Domains list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DomainQueryResult'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '429':
          $ref: '#/components/responses/TooManyRequests'
    post:
      tags: [Domains]
      summary: Create domain
      description: |
        Registers a custom hostname under `domainGroupId`.
        Hostname must match the request pattern; it is stored in lowercase (mixed-case input is normalized).
        The response includes `dnsStatus: PENDING` until DNS points at the LinkShift target IP and verification succeeds.
        On-demand TLS (`GET /check-domain`, internal) is denied until DNS is verified.
        Returns 404 when the group ID is invalid; 409 when the hostname is already registered
        platform-wide (among active records), is reserved on the platform infrastructure,
        or is in a 7-day release cooldown after a recent deletion (hostname reserved globally).
      operationId: createDomain
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateDomainRequest'
      responses:
        '200':
          description: Created domain
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Domain'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          description: >-
            Hostname already registered platform-wide (active record), in a 7-day release cooldown
            after a recent deletion, or invalid after normalization. Cooldown `details` follow the pattern:
            `Domain name {hostname} was recently deleted and is in a 7-day release cooldown until {iso8601}`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                releaseCooldown:
                  summary: Hostname in release cooldown
                  value:
                    code: 409
                    key: conflict
                    message: Conflict
                    details: Domain name example.com was recently deleted and is in a 7-day release cooldown until 2026-07-04T12:00:00.000Z
                    requestId: req_example
        '429':
          $ref: '#/components/responses/TooManyRequests'

  /api/v1/domains/{id}:
    parameters:
      - $ref: '#/components/parameters/EntityId'
    get:
      tags: [Domains]
      summary: Get domain by ID
      description: |
        Fetches one domain record (`name`, `domainGroupId`, DNS verification fields, timestamps).
        Returns 404 when the ID is unknown, soft-deleted, or outside your organization.
      operationId: getDomain
      responses:
        '200':
          description: Domain details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Domain'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
    put:
      tags: [Domains]
      summary: Update domain
      description: |
        Moves the domain to another group only. The hostname (`name`) is immutable after creation;
        sending `name` in the body returns 400 (strict request schema).
        To use a new hostname, delete this domain and create a new one (triggers a new TLS certificate for custom domains).
        `domainGroupId` is required in the body.
      operationId: updateDomain
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateDomainRequest'
      responses:
        '200':
          description: Updated domain
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Domain'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '400':
          $ref: '#/components/responses/BadRequest'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
    delete:
      tags: [Domains]
      summary: Delete domain (soft)
      description: |
        Soft-deletes the domain. Published links on this hostname stop working immediately.
        The hostname stays reserved globally for 7 days (release cooldown) before it can be created again.
        Returns 404 when the ID isn't in your organization.
      operationId: deleteDomain
      responses:
        '200':
          description: Deleted
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'

  /api/v1/domains/{id}/verify-dns:
    parameters:
      - $ref: '#/components/parameters/EntityId'
    post:
      tags: [Domains]
      summary: Verify domain DNS
      description: |
        Performs a live DNS lookup for the domain's hostname and updates `dnsStatus`,
        `dnsVerifiedAt`, and `dnsLastCheckedAt`.

        Resolves A records (following CNAME chains) and compares them to the platform target IP
        (`APP_DOMAIN_TARGET_IP`). On success, sets `dnsStatus` to `VERIFIED` and clears the edge
        `check-domain` gate for on-demand TLS. On failure, sets `dnsStatus` to `FAILED`.

        Does not apply to LinkShift subdomains. Idempotent — safe to retry after DNS propagation.
      operationId: verifyDomainDns
      responses:
        '200':
          description: Updated domain with DNS verification result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Domain'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'

  /api/v1/subdomains:
    get:
      tags: [Subdomains]
      summary: List LinkShift subdomains
      description: |
        Returns all active LinkShift-hosted subdomain labels in one response (no cursor pagination).
        Each row includes `domainGroupId` for filtering in automation scripts.
      operationId: listSubdomains
      responses:
        '200':
          description: Subdomains list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LinkShiftSubdomainQueryResult'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '429':
          $ref: '#/components/responses/TooManyRequests'
    post:
      tags: [Subdomains]
      summary: Create LinkShift subdomain
      description: |
        Reserves a lowercase label (max 30 chars) on LinkShift infrastructure under `domainGroupId`.
        Labels must already be lowercase in the request body.
        Returns 404 when the group is invalid; 409 when the label is already registered
        platform-wide (among active records), is on the reserved platform label list
        (for example `admin`, `api`, `www`, `support`), or is in a 7-day release cooldown
        after a recent deletion (label reserved globally).
      operationId: createSubdomain
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateLinkShiftSubdomainRequest'
      responses:
        '200':
          description: Created subdomain
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LinkShiftSubdomain'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          description: >-
            Label already registered platform-wide (active record), reserved for platform
            infrastructure (for example `admin`, `api`, `www`), in a 7-day release cooldown
            after a recent deletion, or invalid after validation. Cooldown `details` follow the pattern:
            `Subdomain name {label} was recently deleted and is in a 7-day release cooldown until {iso8601}`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                reservedLabel:
                  summary: Reserved platform label
                  value:
                    code: 409
                    key: conflict
                    message: Conflict
                    details: Subdomain name admin is reserved
                    requestId: req_example
                releaseCooldown:
                  summary: Label in release cooldown
                  value:
                    code: 409
                    key: conflict
                    message: Conflict
                    details: Subdomain name my-label was recently deleted and is in a 7-day release cooldown until 2026-07-04T12:00:00.000Z
                    requestId: req_example
        '429':
          $ref: '#/components/responses/TooManyRequests'

  /api/v1/subdomains/{id}:
    parameters:
      - $ref: '#/components/parameters/EntityId'
    get:
      tags: [Subdomains]
      summary: Get LinkShift subdomain by ID
      description: |
        Fetches one subdomain label and its `domainGroupId`.
        Returns 404 when unknown or outside your organization.
      operationId: getSubdomain
      responses:
        '200':
          description: Subdomain details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LinkShiftSubdomain'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
    put:
      tags: [Subdomains]
      summary: Update LinkShift subdomain
      description: |
        Reassigns `domainGroupId` only. The subdomain label (`name`) is immutable after creation;
        sending `name` in the body returns 400 (strict request schema).
        To use a new label, delete this subdomain and create a new one.
        `domainGroupId` is required in the body.
      operationId: updateSubdomain
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateLinkShiftSubdomainRequest'
      responses:
        '200':
          description: Updated subdomain
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LinkShiftSubdomain'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '400':
          $ref: '#/components/responses/BadRequest'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '429':
          $ref: '#/components/responses/TooManyRequests'
    delete:
      tags: [Subdomains]
      summary: Delete LinkShift subdomain (soft)
      description: |
        Soft-deletes the label. Published links on this subdomain stop working immediately.
        The label stays reserved globally for 7 days (release cooldown) before it can be created again.
        Returns 404 when out of scope.
      operationId: deleteSubdomain
      responses:
        '200':
          description: Deleted
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'

  /api/v1/redirect-rules:
    get:
      tags: [Redirect Rules]
      summary: List redirect rules
      description: |
        Lists redirect rules for one `domainGroupId`, highest `priority` first.
        Page with `limit` (default 20, max 100) and `startAfterId` from `moreStartingAfterId` on the previous response.
        Optional `search` filters source/destination text. Returns 400 when query params are invalid.
      operationId: listRedirectRules
      parameters:
        - name: domainGroupId
          in: query
          required: true
          description: >-
            Domain group whose rules you want. Required on every page; get IDs from
            list domain groups or your provisioning store.
          schema:
            type: string
        - name: limit
          in: query
          required: false
          description: Maximum number of items to return (cursor page size).
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
        - name: search
          in: query
          required: false
          description: Free-text search over rule source/destination fields.
          schema:
            type: string
        - name: startAfterId
          in: query
          required: false
          description: Cursor token using the last item ID from previous page.
          schema:
            type: string
      responses:
        '200':
          description: Redirect rules list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RedirectRuleQueryResult'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '429':
          $ref: '#/components/responses/TooManyRequests'
    post:
      tags: [Redirect Rules]
      summary: Create redirect rule
      description: |
        Adds a rule that participates in **live** redirect matching for the domain group.
        Not idempotent — duplicate sources may be rejected or behave unpredictably; use list + update in CI when you need upsert semantics.
        Set `linkMapId` only with a null/empty `destination`. Deeper validation (regex captures, placeholders, conditionals) runs server-side — expect 400 with `details` on failure.
        For dry-run matching without traffic impact, use POST redirect-rules/simulate after create.
      operationId: createRedirectRule
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateRedirectRuleRequest'
      responses:
        '200':
          description: Created redirect rule
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RedirectRule'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'

  /api/v1/redirect-rules/analytics:
    get:
      tags: [Redirect Rules]
      summary: Get top redirect rules by hits
      description: |
        Aggregated hit counts per rule (and top link-map keys / request variants) for monitoring — not raw request logs.
        Preset window: omit `start`/`end` and use `range` (`day` = 24h, `week` = 7d, `month` = 30d, default `day`), ending at the current UTC hour.
        Custom window: pass both `start` and `end` (ISO-8601 UTC); values floor to hour boundaries; span max 31 days.
        Optional `domainGroupId` narrows results. Dashboard charts may show additional dimensions not exposed here.
      operationId: getRedirectRuleAnalytics
      parameters:
        - name: limit
          in: query
          required: false
          description: Number of top rules returned in analytics results.
          schema:
            type: integer
            minimum: 1
            maximum: 50
            default: 50
        - name: range
          in: query
          required: false
          description: Predefined analytics range (used when start/end are not provided).
          schema:
            type: string
            enum: [day, week, month]
        - name: domainGroupId
          in: query
          required: false
          description: Limit analytics to a specific domain group.
          schema:
            type: string
        - name: start
          in: query
          required: false
          description: >-
            Start of analytics window (ISO-8601 UTC datetime). Floored to the
            start of that UTC hour. Inclusive — hourly buckets with
            bucketStart >= this value are included.
          schema:
            type: string
            format: date-time
        - name: end
          in: query
          required: false
          description: >-
            End of analytics window (ISO-8601 UTC datetime). Floored to the
            start of that UTC hour. Inclusive — hourly buckets with
            bucketStart <= this value are included. Span from start to end
            cannot exceed 31 days.
          schema:
            type: string
            format: date-time
      responses:
        '200':
          description: Analytics payload
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RedirectRuleAnalyticsResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '429':
          $ref: '#/components/responses/TooManyRequests'

  /api/v1/redirect-rules/simulate:
    post:
      tags: [Redirect Rules]
      summary: Simulate redirect rule matching
      description: |
        Evaluates up to 100 request samples against **current** rules — no HTTP redirect is issued and analytics aren't written.
        Use in CI after POST create redirect rule or when validating redirect tests: build `entries[]` from fixture `pathWithQuery` + `requestData`.
        Unknown `domainGroupId` → 400. Set `checkDestinationBlacklist: true` to surface `blacklistBlocked` / `blacklistCheckFailed` like live traffic (403/503 behavior).
      operationId: simulateRedirectRules
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SimulateRedirectsRequest'
      responses:
        '200':
          description: Simulation results
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RedirectSimulationResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '429':
          $ref: '#/components/responses/TooManyRequests'

  /api/v1/redirect-rules/{id}:
    parameters:
      - $ref: '#/components/parameters/EntityId'
    get:
      tags: [Redirect Rules]
      summary: Get redirect rule by ID
      description: |
        Fetches the full rule (source, destination, `linkMapId`, priority, match options, block flags).
        Returns 404 when soft-deleted or outside your organization.
      operationId: getRedirectRule
      responses:
        '200':
          description: Redirect rule details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RedirectRule'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
    put:
      tags: [Redirect Rules]
      summary: Update redirect rule
      description: |
        Replaces mutable fields on an existing rule; same validation as create.
        Changes apply to live matching on the next request. Returns 400 on invalid source/destination/conditional payload; 404 when the rule ID is out of scope.
      operationId: updateRedirectRule
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateRedirectRuleRequest'
      responses:
        '200':
          description: Updated redirect rule
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RedirectRule'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
    delete:
      tags: [Redirect Rules]
      summary: Delete redirect rule (soft)
      description: |
        Removes the rule from live matching (soft delete).
        Idempotent for automation: repeating delete on the same ID still returns 404 once gone.
      operationId: deleteRedirectRule
      responses:
        '200':
          description: Deleted
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'

  /api/v1/redirect-tests:
    get:
      tags: [Redirect Tests]
      summary: List redirect tests
      description: |
        Lists stored CI/regression fixtures for one `domainGroupId`.
        Default `limit` is 100 (max 100). Use `startAfterId` from `moreStartingAfterId` to walk pages.
      operationId: listRedirectTests
      parameters:
        - name: domainGroupId
          in: query
          required: true
          description: >-
            Domain group that owns the fixtures. Pair with POST simulate using the same
            group ID in each sample.
          schema:
            type: string
        - name: limit
          in: query
          required: false
          description: Maximum number of tests returned in one page.
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 100
        - name: search
          in: query
          required: false
          description: Optional text search over test path/query content.
          schema:
            type: string
        - name: startAfterId
          in: query
          required: false
          description: Cursor token using the last item ID from previous page.
          schema:
            type: string
      responses:
        '200':
          description: Redirect tests list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RedirectTestQueryResult'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '429':
          $ref: '#/components/responses/TooManyRequests'
    post:
      tags: [Redirect Tests]
      summary: Create redirect test fixture
      description: |
        Persists an expected outcome (`expectedResult`) for a `pathWithQuery` under a domain group.
        Doesn't run matching by itself — in CI, POST redirect-rules/simulate with equivalent request data and assert against `expectedResult`.
        Returns 404 when `domainGroupId` is invalid.
      operationId: createRedirectTest
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateRedirectTestRequest'
      responses:
        '200':
          description: Created redirect test
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RedirectTest'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'

  /api/v1/redirect-tests/{id}:
    parameters:
      - $ref: '#/components/parameters/EntityId'
    get:
      tags: [Redirect Tests]
      summary: Get redirect test by ID
      description: |
        Fetches one fixture including `pathWithQuery`, `requestData`, and `expectedResult`.
        Returns 404 when deleted or outside your organization.
      operationId: getRedirectTest
      responses:
        '200':
          description: Redirect test details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RedirectTest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
    put:
      tags: [Redirect Tests]
      summary: Update redirect test fixture
      description: |
        Changes path, request metadata, or expected outcome for an existing fixture.
        Returns 400 when the body is invalid; 404 when the test ID is out of scope.
      operationId: updateRedirectTest
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateRedirectTestRequest'
      responses:
        '200':
          description: Updated redirect test
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RedirectTest'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
    delete:
      tags: [Redirect Tests]
      summary: Delete redirect test (soft)
      description: |
        Removes a fixture from the catalog (soft delete).
        Use when retiring CI cases; simulate history isn't stored per test.
      operationId: deleteRedirectTest
      responses:
        '200':
          description: Deleted
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'

  /api/v1/link-maps:
    get:
      tags: [Link Maps]
      summary: List link maps
      description: |
        Returns all link maps in a domain group as a JSON array (not cursor-paginated).
        Each item includes `entriesCount` so you can spot empty maps before wiring rules.
      operationId: listLinkMaps
      parameters:
        - name: domainGroupId
          in: query
          required: true
          description: >-
            Domain group that owns the maps. Required; use the same ID on create link map
            and import link map entries.
          schema:
            type: string
      responses:
        '200':
          description: Link maps list
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/LinkMap'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '429':
          $ref: '#/components/responses/TooManyRequests'
    post:
      tags: [Link Maps]
      summary: Create link map
      description: |
        Creates an empty key→URL table under `domainGroupId`.
        Add entries (POST create or POST import) before setting `linkMapId` on a redirect rule.
        Returns 404 when the domain group doesn't exist.
      operationId: createLinkMap
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateLinkMapRequest'
      responses:
        '200':
          description: Created link map
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LinkMap'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'

  /api/v1/link-maps/{id}:
    parameters:
      - $ref: '#/components/parameters/EntityId'
    get:
      tags: [Link Maps]
      summary: Get link map by ID
      description: |
        Fetches map settings (`caseSensitive`, `queryMatch`, `fallbackDestination`) and `entriesCount`.
        Returns 404 when the map is deleted or outside your organization.
      operationId: getLinkMap
      responses:
        '200':
          description: Link map details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LinkMap'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
    put:
      tags: [Link Maps]
      summary: Update link map
      description: |
        Changes matching behavior or fallback URL for an existing map.
        Doesn't modify entries — use link map entry endpoints for keys.
        Returns 400 when `fallbackDestination` isn't a valid http(s) URL.
      operationId: updateLinkMap
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateLinkMapRequest'
      responses:
        '200':
          description: Updated link map
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LinkMap'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
    delete:
      tags: [Link Maps]
      summary: Delete link map (soft)
      description: |
        Soft-deletes the map when it has zero entries and no active redirect rules reference it.
        Returns 400 with `details` when entries remain or rules still point at `linkMapId` — delete entries first or detach rules.
      operationId: deleteLinkMap
      responses:
        '200':
          description: Deleted
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'

  /api/v1/link-map-entries:
    get:
      tags: [Link Map Entries]
      summary: List link map entries
      description: |
        Pages keys inside one `linkMapId` (default `limit` 20, max 100).
        Response uses `hasMore` / `moreStartingAfterId` (no `dataType` field). Optional `search` scans keys and destinations (max 1024 chars).
      operationId: listLinkMapEntries
      parameters:
        - name: linkMapId
          in: query
          required: true
          description: >-
            Link map to list. Get IDs from list link maps or create link map; use the same
            ID on import and bulk delete.
          schema:
            type: string
        - name: limit
          in: query
          required: false
          description: Maximum number of entries returned in one page.
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
        - name: search
          in: query
          required: false
          description: Optional search string matched against entry keys and destinations.
          schema:
            type: string
            maxLength: 1024
        - name: startAfterId
          in: query
          required: false
          description: Cursor token using the last item ID from previous page.
          schema:
            type: string
      responses:
        '200':
          description: Link map entries list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LinkMapEntryListResult'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '429':
          $ref: '#/components/responses/TooManyRequests'
    post:
      tags: [Link Map Entries]
      summary: Create link map entry
      description: |
        Adds one key→destination row. Keys are path/query fragments, not full URLs.
        Returns 400 on invalid key characters or destination URL; 404 when `linkMapId` is unknown.
        For hundreds of rows, prefer POST import link map entries.
      operationId: createLinkMapEntry
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateLinkMapEntryRequest'
      responses:
        '200':
          description: Created link map entry
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LinkMapEntry'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
    delete:
      tags: [Link Map Entries]
      summary: Bulk-delete link map entries by ID
      description: |
        Soft-deletes up to 1,000 entries in one call — use to roll back a bad import without deleting the whole map.
        Body requires `linkMapId` plus `entryIds` from list/create/import responses.
        Response `deletedCount` may be lower than requested when some IDs were already deleted. Returns 404 when the map ID is invalid.
      operationId: deleteManyLinkMapEntries
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeleteLinkMapEntriesByIdRequest'
      responses:
        '200':
          description: Delete summary
          content:
            application/json:
              schema:
                type: object
                properties:
                  deletedCount:
                    type: integer
                required: [deletedCount]
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'

  /api/v1/link-map-entries/import:
    post:
      tags: [Link Map Entries]
      summary: Import link map entries (bulk create)
      description: |
        Creates up to 500 entries per request (**create-only** — duplicate keys appear in `errors[]`, not updated).
        HTTP 200 even when some rows fail: check `importedCount`, `failedCount`, and `errors[].error` per row.
        Roll back partial imports with DELETE bulk (pass `importedEntryIds`). Returns 404 when `linkMapId` is invalid.
      operationId: importLinkMapEntries
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ImportLinkMapEntriesRequest'
      responses:
        '200':
          description: Import summary
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ImportLinkMapEntriesResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'

  /api/v1/link-map-entries/{id}:
    parameters:
      - $ref: '#/components/parameters/EntityId'
    get:
      tags: [Link Map Entries]
      summary: Get link map entry by ID
      description: |
        Fetches one row (`key`, `keyNormalized`, `destination`, parent `linkMapId`).
        Returns 404 when soft-deleted or outside your organization.
      operationId: getLinkMapEntry
      responses:
        '200':
          description: Link map entry details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LinkMapEntry'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
    put:
      tags: [Link Map Entries]
      summary: Update link map entry
      description: |
        Changes `key` and/or `destination` on one row (send at least one field).
        Returns 400 when validation fails (e.g. duplicate key); 404 when the entry ID is out of scope.
      operationId: updateLinkMapEntry
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateLinkMapEntryRequest'
      responses:
        '200':
          description: Updated link map entry
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LinkMapEntry'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
    delete:
      tags: [Link Map Entries]
      summary: Delete link map entry (soft)
      description: |
        Soft-deletes one entry by path `{id}`.
        For many IDs from an import, use bulk-delete instead.
      operationId: deleteLinkMapEntry
      responses:
        '200':
          description: Deleted
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'

components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key
      description: |
        Organization API key from the dashboard (Organization → API keys).
        Send via `X-API-Key` on every request in this spec.

  parameters:
    EntityId:
      name: id
      in: path
      required: true
      description: >-
        Resource ID from a prior list or create response (same string you store in
        automation state). Wrong or foreign-org IDs return 404.
      schema:
        type: string

  responses:
    Unauthorized:
      description: >-
        Missing or invalid API key. Verify the `X-API-Key` header and that the key
        wasn't revoked in the dashboard; rotate if needed, then retry.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          examples:
            unauthorized:
              value:
                code: 401
                key: unauthorized
                message: Unauthorized
                details: Missing or invalid API key.
                requestId: req_example
    PaymentRequired:
      description: >-
        API access isn't enabled on your subscription (`feature` is often `api_access`).
        Upgrade the plan in the dashboard, then retry with the same key.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          examples:
            paymentRequired:
              value:
                code: 402
                key: payment_required
                message: Payment required
                feature: api_access
                details: API key usage is available on paid plans only. Upgrade your subscription to use API access.
                requestId: req_example
    TooManyRequests:
      description: >-
        Per-key rate limit for your plan. Back off exponentially with jitter; avoid
        tight retry loops. Check GET organization/usage for current inventory (limits are plan-defined, not returned here).
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          examples:
            tooManyRequests:
              value:
                code: 429
                key: too_many_requests
                message: Too many requests
                details: API key rate limit exceeded
                requestId: req_example
    BadRequest:
      description: >-
        Request body or query failed validation. Read `details` (and optional field hints)
        in the JSON body; fix the payload and retry. Include `requestId` when contacting support.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    NotFound:
      description: >-
        Resource ID doesn't exist, was soft-deleted, or isn't in your organization.
        Confirm the ID from a fresh list call and that you're using the correct API key.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    Conflict:
      description: >-
        Unique constraint conflict (e.g. domain hostname or subdomain label already
        registered, or hostname in release cooldown after deletion). Use a different name/label
        or wait for the cooldown to end; hostnames and labels cannot be renamed via update.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'

  schemas:
    ErrorResponse:
      description: |
        Standard error envelope. Use `key` for branching in code, `details` for human-readable fixes,
        and `requestId` when escalating to support.
      type: object
      properties:
        code:
          type: integer
          description: HTTP-like numeric status code.
        key:
          type: string
          description: Stable machine-readable error key.
        message:
          type: string
          description: Short error summary.
        details:
          type: string
          description: Human-readable details explaining the error.
        requestId:
          type: string
          description: Correlation ID useful for support and troubleshooting.
        feature:
          type: string
          description: Optional feature gate identifier when relevant (for example `api_access`).
      required: [code, key, message]

    Organization:
      description: |
        Tenant record for your API key. `configuration` may include subscription metadata;
        treat it as read-only in integrations.
      type: object
      properties:
        id: { type: string, description: Organization ID. }
        name: { type: string, description: Organization display name. }
        configuration:
          type: object
          nullable: true
          additionalProperties: true
          description: Subscription and billing configuration payload.
        createdAt: { type: string, format: date-time, description: Creation timestamp (UTC). }
        updatedAt: { type: string, format: date-time, description: Last update timestamp (UTC). }
        deletedAt:
          type: string
          format: date-time
          nullable: true
          description: Soft-delete timestamp in UTC when deleted.
      required: [id, name, createdAt, updatedAt]

    DomainGroup:
      description: |
        Scope boundary for redirect configuration. All rules, tests, and link maps reference
        a domain group ID; robots policy here applies to every domain in the group.
      type: object
      properties:
        id: { type: string, description: Domain-group ID. }
        name: { type: string, description: Human-readable domain-group name. }
        organizationId: { type: string, description: Owning organization ID. }
        robotsPolicy:
          $ref: '#/components/schemas/RobotsPolicy'
        customRobotsContent:
          type: string
          nullable: true
          maxLength: 4096
          description: Used only when robotsPolicy is CUSTOM.
        redirectDeliveryMode:
          $ref: '#/components/schemas/RedirectDeliveryMode'
        createdAt: { type: string, format: date-time, description: Creation timestamp (UTC). }
        updatedAt: { type: string, format: date-time, description: Last update timestamp (UTC). }
        deletedAt:
          type: string
          format: date-time
          nullable: true
          description: Soft-delete timestamp in UTC when deleted.
      required: [id, name, organizationId, robotsPolicy, redirectDeliveryMode, createdAt, updatedAt]

    Domain:
      description: |
        Domain entity assigned to a domain group.
        Custom domains start with `dnsStatus: PENDING` on create. TLS and redirect routing on the
        edge require verified DNS (`VERIFIED`) unless the edge probe succeeds during `check-domain`.
      type: object
      properties:
        id: { type: string, description: Domain ID. }
        name: { type: string, description: Fully qualified domain name. }
        domainGroupId: { type: string, description: Parent domain-group ID. }
        dnsStatus:
          $ref: '#/components/schemas/DomainDnsStatus'
        dnsVerifiedAt:
          type: string
          format: date-time
          nullable: true
          description: UTC timestamp when DNS last verified successfully (null until first success).
        dnsLastCheckedAt:
          type: string
          format: date-time
          nullable: true
          description: UTC timestamp of the most recent DNS verification attempt.
        createdAt: { type: string, format: date-time, description: Creation timestamp (UTC). }
        updatedAt: { type: string, format: date-time, description: Last update timestamp (UTC). }
        deletedAt:
          type: string
          format: date-time
          nullable: true
          description: Soft-delete timestamp in UTC when deleted.
      required: [id, name, domainGroupId, dnsStatus, createdAt, updatedAt]

    LinkShiftSubdomain:
      description: LinkShift-hosted subdomain label assigned to a domain group.
      type: object
      properties:
        id: { type: string, description: Subdomain ID. }
        name: { type: string, description: Subdomain label without base host suffix. }
        domainGroupId: { type: string, description: Parent domain-group ID. }
        createdAt: { type: string, format: date-time, description: Creation timestamp (UTC). }
        updatedAt: { type: string, format: date-time, description: Last update timestamp (UTC). }
        deletedAt:
          type: string
          format: date-time
          nullable: true
          description: Soft-delete timestamp in UTC when deleted.
      required: [id, name, domainGroupId, createdAt, updatedAt]

    RedirectRule:
      description: |
        Live redirect matcher: evaluated by priority (higher first) within a domain group.
        Either `destination` or `linkMapId` drives the target URL; `isBlocked` pauses matching without deleting.
      type: object
      properties:
        id: { type: string, description: Redirect-rule ID. }
        source: { type: string, description: Source matcher expression. }
        destination:
          type: string
          nullable: true
          description: Static redirect destination URL. Null when dynamic destination is used via link map.
        statusCode:
          type: integer
          enum: [301, 302, 307, 308]
          description: HTTP redirect status returned for matches.
        matchMethod:
          type: array
          description: Allowed request methods. Empty array means all methods.
          items:
            $ref: '#/components/schemas/HttpMethod'
        queryMatch:
          type: string
          enum: [exact, ignore, subset]
          description: Query-string matching strategy.
        pathMatch:
          type: string
          enum: [exact, prefix]
          description: Path matching strategy.
        linkMapId:
          type: string
          nullable: true
          description: Optional linked map used for key-based destinations.
        isBlocked:
          { type: boolean, description: Whether the rule is currently blocked from execution. }
        blockedAt:
          type: string
          format: date-time
          nullable: true
          description: Timestamp when the rule was blocked.
        priority: { type: integer, description: Rule priority (higher first). }
        domainGroupId: { type: string, description: Parent domain-group ID. }
        createdAt: { type: string, format: date-time, description: Creation timestamp (UTC). }
        updatedAt: { type: string, format: date-time, description: Last update timestamp (UTC). }
        deletedAt:
          type: string
          format: date-time
          nullable: true
          description: Soft-delete timestamp in UTC when deleted.
      required:
        - id
        - source
        - statusCode
        - matchMethod
        - queryMatch
        - pathMatch
        - priority
        - domainGroupId
        - createdAt
        - updatedAt

    RedirectTest:
      description: |
        CI fixture storing input (`pathWithQuery`, `requestData`) and expected simulate output (`expectedResult`).
        Run POST redirect-rules/simulate in pipelines to validate against live rule config.
      type: object
      properties:
        id: { type: string, description: Redirect-test ID. }
        organizationId: { type: string, description: Owning organization ID. }
        domainGroupId: { type: string, description: Domain-group scope for this test. }
        pathWithQuery: { type: string, description: Request path including query string. }
        requestData:
          type: object
          additionalProperties: true
          description: >-
            Optional request metadata such as method, headers, query, user-agent, or
            accept-language (via headers.accept-language).
        expectedResult:
          type: object
          additionalProperties: true
          description: Expected simulation outcome payload.
        createdAt: { type: string, format: date-time, description: Creation timestamp (UTC). }
        updatedAt: { type: string, format: date-time, description: Last update timestamp (UTC). }
        deletedAt:
          type: string
          format: date-time
          nullable: true
          description: Soft-delete timestamp in UTC when deleted.
      required:
        - id
        - organizationId
        - domainGroupId
        - pathWithQuery
        - requestData
        - expectedResult
        - createdAt
        - updatedAt

    LinkMap:
      description: |
        Named lookup table: redirect rules reference it via `linkMapId` to resolve a key to a destination URL.
        `entriesCount` helps you verify imports before going live.
      type: object
      properties:
        id: { type: string, description: Link-map ID. }
        name: { type: string, description: Human-readable link-map name. }
        domainGroupId: { type: string, description: Parent domain-group ID. }
        caseSensitive: { type: boolean, description: Controls key matching case sensitivity. }
        queryMatch:
          type: string
          enum: [exact, ignore, subset]
          description: Query-string matching strategy for key resolution requests.
        fallbackDestination:
          type: string
          nullable: true
          description: Optional destination used when no key matches.
        entriesCount:
          type: integer
          description: Count of active entries (included on list and get responses).
        createdAt: { type: string, format: date-time, description: Creation timestamp (UTC). }
        updatedAt: { type: string, format: date-time, description: Last update timestamp (UTC). }
        deletedAt:
          type: string
          format: date-time
          nullable: true
          description: Soft-delete timestamp in UTC when deleted.
      required:
        - id
        - name
        - domainGroupId
        - caseSensitive
        - queryMatch
        - createdAt
        - updatedAt

    LinkMapEntry:
      description: One key-to-destination mapping inside a link map.
      type: object
      properties:
        id: { type: string, description: Link-map entry ID. }
        linkMapId: { type: string, description: Parent link-map ID. }
        key: { type: string, description: User-provided lookup key. }
        keyNormalized: { type: string, description: Backend-normalized key used in matching. }
        destination: { type: string, description: Destination URL for the key. }
        createdAt: { type: string, format: date-time, description: Creation timestamp (UTC). }
        updatedAt: { type: string, format: date-time, description: Last update timestamp (UTC). }
        deletedAt:
          type: string
          format: date-time
          nullable: true
          description: Soft-delete timestamp in UTC when deleted.
      required:
        - id
        - linkMapId
        - key
        - keyNormalized
        - destination
        - createdAt
        - updatedAt

    OrganizationUsage:
      description: |
        Counts of **active** resources in your organization (soft-deleted items excluded).
        Compare to plan limits in the dashboard — this object doesn't include max allowed values or rate-limit quotas.
      type: object
      properties:
        domainGroups: { type: integer, description: Active domain groups (scope containers). }
        domains: { type: integer, description: Active custom domains attached to groups. }
        subdomains: { type: integer, description: Active LinkShift-hosted subdomain labels. }
        rules: { type: integer, description: Active redirect rules across all groups. }
        tests: { type: integer, description: Active redirect test fixtures stored for CI. }
        users: { type: integer, description: Organization members (dashboard users). }
        apiKeys: { type: integer, description: API keys configured (management is dashboard-only). }
        linkMaps: { type: integer, description: Active link maps. }
        linkMapEntries: { type: integer, description: Active key rows across all link maps. }
      required: [domainGroups, domains, subdomains, rules, tests, users, apiKeys, linkMaps, linkMapEntries]

    QueryResultMeta:
      description: Metadata envelope shared by cursor-paginated query responses.
      type: object
      properties:
        dataType: { type: string, description: Logical item type in the `data` array. }
        hasMore:
          { type: boolean, description: Whether there are additional results after this page. }
        moreStartingAfterId: { type: string, description: Cursor token to request the next page. }
      required: [dataType, hasMore]

    DomainGroupQueryResult:
      description: Paginated domain-group query response.
      allOf:
        - $ref: '#/components/schemas/QueryResultMeta'
        - type: object
          properties:
            data:
              type: array
              description: Domain-group items in current page.
              items:
                $ref: '#/components/schemas/DomainGroup'
          required: [data]

    DomainQueryResult:
      description: Paginated domain query response.
      allOf:
        - $ref: '#/components/schemas/QueryResultMeta'
        - type: object
          properties:
            data:
              type: array
              description: Domain items in current page.
              items:
                $ref: '#/components/schemas/Domain'
          required: [data]

    LinkShiftSubdomainQueryResult:
      description: Paginated LinkShift-subdomain query response.
      allOf:
        - $ref: '#/components/schemas/QueryResultMeta'
        - type: object
          properties:
            data:
              type: array
              description: LinkShift-subdomain items in current page.
              items:
                $ref: '#/components/schemas/LinkShiftSubdomain'
          required: [data]

    RedirectRuleQueryResult:
      description: Paginated redirect-rule query response.
      allOf:
        - $ref: '#/components/schemas/QueryResultMeta'
        - type: object
          properties:
            data:
              type: array
              description: Redirect-rule items in current page.
              items:
                $ref: '#/components/schemas/RedirectRule'
          required: [data]

    RedirectTestQueryResult:
      description: Paginated redirect-test query response.
      allOf:
        - $ref: '#/components/schemas/QueryResultMeta'
        - type: object
          properties:
            data:
              type: array
              description: Redirect-test items in current page.
              items:
                $ref: '#/components/schemas/RedirectTest'
          required: [data]

    LinkMapQueryResult:
      description: Paginated link-map query response.
      allOf:
        - $ref: '#/components/schemas/QueryResultMeta'
        - type: object
          properties:
            data:
              type: array
              description: Link-map items in current page.
              items:
                $ref: '#/components/schemas/LinkMap'
          required: [data]

    LinkMapEntryListResult:
      description: Cursor-paginated link-map entry list (no dataType envelope).
      type: object
      properties:
        data:
          type: array
          description: Link-map-entry items in the current page.
          items:
            $ref: '#/components/schemas/LinkMapEntry'
        hasMore:
          type: boolean
          description: Whether additional results exist after this page.
        moreStartingAfterId:
          type: string
          description: Cursor token to request the next page when hasMore is true.
      required: [data, hasMore]

    HttpMethod:
      description: HTTP request method.
      type: string
      enum: [GET, POST, PUT, PATCH, DELETE, OPTIONS, HEAD]

    RobotsPolicy:
      type: string
      description: |
        Controls robots.txt behavior for all domains in a domain group.
        CUSTOM requires customRobotsContent.
      default: NONE
      enum: [NONE, ALLOW_ALL, DISALLOW_ALL, DISALLOW_BAD_BOTS, CUSTOM]

    RedirectDeliveryMode:
      type: string
      description: |
        Controls how visitors reach the redirect destination after a rule match.
        INSTANT issues an HTTP redirect using the rule statusCode (default 302).
        WITH_NOTICE returns 200 HTML with the destination, a 10-second countdown,
        and a Continue now button; JavaScript completes the redirect.
        Simulate and redirect tests report the rule statusCode, not the notice page.
      default: INSTANT
      enum: [INSTANT, WITH_NOTICE]

    DomainDnsStatus:
      description: |
        DNS verification state for custom domains. LinkShift subdomains do not use this field.
        `PENDING` — created but DNS not yet confirmed; edge TLS blocked via internal `check-domain`.
        `VERIFIED` — A record (or CNAME chain) points at the LinkShift target IP.
        `FAILED` — last manual or automatic check did not find the target IP.
      type: string
      enum: [PENDING, VERIFIED, FAILED]

    CreateDomainGroupRequest:
      description: Payload for creating a domain group.
      type: object
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 255
          description: Domain-group name.
        robotsPolicy:
          $ref: '#/components/schemas/RobotsPolicy'
        customRobotsContent:
          type: string
          nullable: true
          maxLength: 4096
          description: Required when robotsPolicy is CUSTOM.
        redirectDeliveryMode:
          $ref: '#/components/schemas/RedirectDeliveryMode'
      required: [name]

    UpdateDomainGroupRequest:
      description: Payload for updating a domain group.
      type: object
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 255
          description: Domain-group name.
        robotsPolicy:
          $ref: '#/components/schemas/RobotsPolicy'
        customRobotsContent:
          type: string
          nullable: true
          maxLength: 4096
          description: Required when robotsPolicy is CUSTOM.
        redirectDeliveryMode:
          $ref: '#/components/schemas/RedirectDeliveryMode'
      required: [name]

    CreateDomainRequest:
      description: Payload for creating a domain. Hostnames are stored in lowercase.
      type: object
      properties:
        name:
          type: string
          minLength: 1
          description: >-
            Fully qualified domain name (DNS hostname labels). The API accepts mixed-case input
            and normalizes to lowercase before persistence; the pattern below is the stored form.
          pattern: '^(?:[a-z0-9](?:[a-z0-9-]{0,61}[a-z0-9])?\.)*[a-z0-9](?:[a-z0-9-]{0,61}[a-z0-9])?$'
        domainGroupId:
          type: string
          maxLength: 100
          description: Target domain-group ID.
      required: [name, domainGroupId]

    UpdateDomainRequest:
      description: >-
        Payload for updating a domain. Only `domainGroupId` is accepted; hostname is immutable
        (sending `name` returns 400).
      type: object
      additionalProperties: false
      properties:
        domainGroupId:
          type: string
          maxLength: 100
          description: Target domain-group ID.
      required: [domainGroupId]

    CreateLinkShiftSubdomainRequest:
      description: Payload for creating a LinkShift subdomain.
      type: object
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 30
          pattern: '^[a-z0-9-]{1,30}$'
          description: Subdomain label before base host, lowercase letters/numbers/hyphens.
        domainGroupId:
          type: string
          maxLength: 100
          description: Target domain-group ID.
      required: [name, domainGroupId]

    UpdateLinkShiftSubdomainRequest:
      description: >-
        Payload for updating a LinkShift subdomain. Only `domainGroupId` is accepted; the label
        is immutable (sending `name` returns 400).
      type: object
      additionalProperties: false
      properties:
        domainGroupId:
          type: string
          maxLength: 100
          description: Target domain-group ID.
      required: [domainGroupId]

    CreateRedirectRuleRequest:
      description: Payload for creating a redirect rule.
      type: object
      properties:
        source:
          { type: string, minLength: 1, maxLength: 16384, description: Source matcher expression. }
        destination:
          type: string
          maxLength: 16384
          nullable: true
          description: Static destination URL. Keep null when using `linkMapId`.
        statusCode:
          type: integer
          enum: [301, 302, 307, 308]
          default: 302
          description: HTTP redirect status used for rule matches.
        matchMethod:
          type: array
          maxItems: 6
          description: >-
            Allowed request methods (no duplicates). Empty array means all methods.
            At most six methods (all seven HTTP methods cannot be listed explicitly).
          items:
            $ref: '#/components/schemas/HttpMethod'
        queryMatch:
          type: string
          enum: [exact, ignore, subset]
          default: exact
          description: Query-string matching strategy.
        pathMatch:
          type: string
          enum: [exact, prefix]
          default: exact
          description: Path matching strategy.
        linkMapId:
          type: string
          nullable: true
          description: Optional link-map ID for key-based destinations.
        priority:
          type: integer
          minimum: 0
          maximum: 1000
          default: 0
          description: Rule priority (higher first).
        domainGroupId:
          type: string
          maxLength: 100
          description: Target domain-group ID.
      required: [source, domainGroupId]

    UpdateRedirectRuleRequest:
      description: Payload for updating a redirect rule.
      type: object
      properties:
        source:
          { type: string, minLength: 1, maxLength: 16384, description: Source matcher expression. }
        destination:
          type: string
          maxLength: 16384
          nullable: true
          description: Static destination URL. Keep null when using `linkMapId`.
        statusCode:
          type: integer
          enum: [301, 302, 307, 308]
          description: HTTP redirect status used for rule matches.
        matchMethod:
          type: array
          maxItems: 6
          description: Allowed request methods (no duplicates). Empty array means all methods.
          items:
            $ref: '#/components/schemas/HttpMethod'
        queryMatch:
          type: string
          enum: [exact, ignore, subset]
          description: Query-string matching strategy.
        pathMatch: { type: string, enum: [exact, prefix], description: Path matching strategy. }
        linkMapId:
          type: string
          nullable: true
          description: Optional link-map ID for key-based destinations.
        priority:
          { type: integer, minimum: 0, maximum: 1000, description: Rule priority (higher first). }

    SimulateRedirectsRequest:
      description: Batch request payload for rule simulation.
      type: object
      properties:
        checkDestinationBlacklist:
          type: boolean
          default: false
          description: >-
            When true, each matched absolute http(s) target is checked against the platform
            domain blacklist (same logic as live redirects). Default false preserves legacy
            simulate behavior.
        entries:
          type: array
          minItems: 1
          maxItems: 100
          description: Request samples that should be evaluated by the simulation engine.
          items:
            type: object
            properties:
              domainGroupId:
                type: string
                maxLength: 100
                description: Domain-group scope for this sample.
              hostname:
                type: string
                maxLength: 253
                description: Optional request host header.
              path:
                type: string
                minLength: 1
                description: Request path (without protocol/host).
              method:
                $ref: '#/components/schemas/HttpMethod'
              ip: { type: string, description: Optional client IP used by conditional rules. }
              userAgent:
                type: string
                maxLength: 512
                description: Optional user-agent used by conditional rules.
              headers:
                type: object
                description: >-
                  Optional request headers map. Keys `user-agent` and `accept-language`
                  (case-insensitive) feed `{user-agent}` and `{accept-language}` placeholders.
                additionalProperties:
                  type: string
              query:
                type: object
                description: Optional query parameters map.
                additionalProperties: true
            required: [domainGroupId, path]
      required: [entries]

    RedirectSimulationResponse:
      description: Simulation result payload for each input request sample.
      type: object
      properties:
        results:
          type: array
          description: Simulation result rows matching the input order.
          items:
            type: object
            properties:
              index: { type: integer, description: Index of input entry. }
              domainGroupId: { type: string, description: Domain-group scope used in simulation. }
              method: { type: string, description: Effective HTTP method used for matching. }
              path: { type: string, description: Effective request path used for matching. }
              hostname: { type: string, description: Effective host used for matching. }
              matched: { type: boolean, description: Whether a redirect rule matched. }
              statusCode: { type: integer, description: Resulting HTTP status code. }
              target:
                type: string
                nullable: true
                description: Resolved redirect target URL when matched.
              linkMapKey:
                type: string
                nullable: true
                description: Link-map lookup key extracted when a link-map rule matched; null otherwise.
              blacklistBlocked:
                type: boolean
                description: >-
                  Present when checkDestinationBlacklist is true and the resolved absolute
                  target host is on the platform domain blacklist. Rule matching succeeded;
                  live traffic would return 403 instead of redirecting.
              blacklistCheckFailed:
                type: boolean
                description: >-
                  Present when checkDestinationBlacklist is true and the blacklist service
                  could not verify the destination. Live traffic would return 503 (fail-closed).
            required: [index, domainGroupId, method, path, hostname, matched, statusCode, linkMapKey]
      required: [results]

    RedirectRuleAnalyticsResponse:
      description: Aggregated rule-level traffic analytics.
      type: object
      properties:
        data:
          type: array
          description: Per-rule analytics entries.
          items:
            type: object
            properties:
              rule:
                $ref: '#/components/schemas/RedirectRule'
              hits:
                type: integer
                description: Total matched hits in selected range.
              topLinkMapKeys:
                type: array
                description: Most frequent link-map keys matched by this rule.
                items:
                  type: object
                  properties:
                    key: { type: string, description: Resolved link-map key. }
                    hits: { type: integer, description: Number of hits for this key. }
                  required: [key, hits]
              topRequestVariants:
                type: array
                description: Most frequent request variant signatures for this rule.
                items:
                  type: object
                  properties:
                    requestMethod: { type: string, description: Request method. }
                    requestPath: { type: string, description: Request path. }
                    requestQuery: { type: string, description: Request query string. }
                    requestUrl: { type: string, description: Full normalized request URL. }
                    destination:
                      { type: string, description: Destination URL returned by matching. }
                    linkMapKey:
                      type: string
                      nullable: true
                      description: Link-map key used in resolution when applicable.
                    hits: { type: integer, description: Hit count for this variant. }
                  required:
                    [requestMethod, requestPath, requestQuery, requestUrl, destination, hits]
            required: [rule, hits, topLinkMapKeys, topRequestVariants]
      required: [data]

    CreateRedirectTestRequest:
      description: Payload for creating a redirect test fixture.
      type: object
      properties:
        domainGroupId: { type: string, description: Domain-group scope for the test. }
        pathWithQuery:
          type: string
          minLength: 1
          maxLength: 16384
          description: Request path including query string.
        requestData:
          type: object
          description: >-
            Optional request context map (method, query, headers, IP, user-agent,
            accept-language via headers.accept-language).
          additionalProperties: true
        expectedResult:
          type: object
          description: Expected simulation outcome.
          properties:
            matched: { type: boolean, description: Expected match/no-match decision. }
            statusCode:
              { type: integer, minimum: 100, maximum: 599, description: Expected HTTP status code. }
            target:
              { type: string, nullable: true, description: Expected destination URL (or null). }
          required: [matched, statusCode, target]
      required: [domainGroupId, pathWithQuery, expectedResult]

    UpdateRedirectTestRequest:
      description: Payload for updating a redirect test fixture.
      type: object
      properties:
        pathWithQuery:
          type: string
          minLength: 1
          maxLength: 16384
          description: Request path including query string.
        requestData:
          type: object
          description: >-
            Optional request context map (method, query, headers, IP, user-agent,
            accept-language via headers.accept-language).
          additionalProperties: true
        expectedResult:
          type: object
          description: Expected simulation outcome.
          properties:
            matched: { type: boolean, description: Expected match/no-match decision. }
            statusCode:
              { type: integer, minimum: 100, maximum: 599, description: Expected HTTP status code. }
            target:
              { type: string, nullable: true, description: Expected destination URL (or null). }
          required: [matched, statusCode, target]

    CreateLinkMapRequest:
      description: Payload for creating a link map.
      type: object
      properties:
        name: { type: string, minLength: 1, maxLength: 120, description: Link-map display name. }
        domainGroupId: { type: string, description: Parent domain-group ID. }
        caseSensitive:
          { type: boolean, default: false, description: Whether key matching is case sensitive. }
        queryMatch:
          type: string
          enum: [exact, ignore, subset]
          default: ignore
          description: Query matching strategy for key resolution requests.
        fallbackDestination:
          type: string
          description: Optional fallback destination URL (must start with http:// or https://).
          pattern: '^https?://'
      required: [name, domainGroupId]

    UpdateLinkMapRequest:
      description: Payload for updating a link map.
      type: object
      properties:
        name: { type: string, minLength: 1, maxLength: 120, description: Link-map display name. }
        caseSensitive: { type: boolean, description: Whether key matching is case sensitive. }
        queryMatch:
          type: string
          enum: [exact, ignore, subset]
          description: Query matching strategy for key resolution requests.
        fallbackDestination:
          type: string
          nullable: true
          description: Fallback destination URL (must start with http:// or https:// when set).
          pattern: '^https?://'

    CreateLinkMapEntryRequest:
      description: Payload for creating one link-map entry.
      type: object
      properties:
        linkMapId: { type: string, description: Parent link-map ID. }
        key:
          type: string
          minLength: 1
          maxLength: 1024
          description: >-
            Path or query lookup key (not a full URL). Must not contain spaces, %, or #.
        destination:
          type: string
          minLength: 1
          maxLength: 16384
          description: Destination URL (must start with http:// or https://).
          pattern: '^https?://'
      required: [linkMapId, key, destination]

    UpdateLinkMapEntryRequest:
      description: Payload for updating one link-map entry.
      type: object
      properties:
        key:
          type: string
          minLength: 1
          maxLength: 1024
          description: Path or query lookup key (not a full URL).
        destination:
          type: string
          minLength: 1
          maxLength: 16384
          description: Destination URL (must start with http:// or https://).
          pattern: '^https?://'

    DeleteLinkMapEntriesByIdRequest:
      description: |
        Identifies up to 1,000 entry IDs to soft-delete under one `linkMapId` (rollback helper after import).
      type: object
      properties:
        linkMapId: { type: string, description: Parent link-map ID. }
        entryIds:
          type: array
          minItems: 1
          maxItems: 1000
          description: Entry IDs that should be deleted.
          items: { type: string }
      required: [linkMapId, entryIds]

    ImportLinkMapEntriesRequest:
      description: Payload for bulk create of link-map entries (duplicate keys fail per row, no updates).
      type: object
      properties:
        linkMapId: { type: string, description: Parent link-map ID. }
        entries:
          type: array
          minItems: 1
          maxItems: 500
          description: Entries to create or update.
          items:
            type: object
            properties:
              key: { type: string, minLength: 1, maxLength: 1024, description: Lookup key. }
              destination:
                type: string
                minLength: 1
                maxLength: 16384
                description: Destination URL (must start with http:// or https://).
                pattern: '^https?://'
            required: [key, destination]
      required: [linkMapId, entries]

    ImportLinkMapEntriesResponse:
      description: Import summary including totals, created entry IDs, and row-level errors.
      type: object
      properties:
        total: { type: integer, description: Number of rows in the request payload. }
        importedCount:
          type: integer
          description: Number of entries successfully created.
        failedCount:
          type: integer
          description: Number of rows that failed validation or creation.
        importedEntryIds:
          type: array
          description: IDs of entries created during this import.
          items: { type: string }
        errors:
          type: array
          description: Row-level failures (sorted by index).
          items:
            type: object
            properties:
              index: { type: integer, description: Index of failed row in import payload. }
              key: { type: string, description: Entry key from failed row. }
              destination: { type: string, description: Destination URL from failed row. }
              error: { type: string, description: Validation or processing failure message. }
            required: [index, key, destination, error]
      required: [total, importedCount, failedCount, importedEntryIds, errors]
