{
  "openapi": "3.1.0",
  "info": {
    "title": "LinkShift Management API (API Key Accessible Endpoints) — Domains",
    "version": "1.0.0",
    "summary": "Organization-scoped redirect management API",
    "description": "Organization-scoped Management API for redirect configuration, link maps, and operational checks.\nUse it to automate what you can also do in the LinkShift dashboard — without dashboard session cookies.\n\n**Authentication**\n- Send your key on every request: `X-API-Key: <your_key>` (preferred).\n- Alternative header supported by the backend: `Authorization: ApiKey <your_key>`.\n\n**Typical setup order**\n1. Domain group → custom domains and/or LinkShift subdomains → redirect rules (and optional link maps).\n2. Link map + entries when rules resolve keys instead of a fixed destination.\n3. Redirect tests + simulate for CI; analytics for traffic review.\n\n**Errors and recovery**\n- `401` — key missing, revoked, or wrong organization. Create or rotate a key in the dashboard (Organization → API keys).\n- `402` — API access isn't on your current plan. Upgrade subscription, then retry.\n- `429` — per-key rate limit for your plan. Back off with jitter; read current usage via GET /api/v1/organization/usage (don't hard-code limits).\n- `400` — request body or query failed validation; inspect `details` and `requestId` in the JSON body.\n- `404` — ID doesn't exist or isn't in your organization scope.\n\n**Dashboard-only**\nAPI key CRUD, billing checkout, and some analytics views aren't in this spec — they require signed-in dashboard auth.\n\n**Guides** (same concepts, more examples): *Getting started*, *Domains and groups*, *Redirect rules*, *Redirect rules — operations*, *Link map entries*.\nThis document contains only operations tagged \"Domains\".\nTag scope: Your custom hostnames assigned to a domain group.\nCreate after the group exists; rules match traffic on these hosts.\n\nNew domains start with `dnsStatus: PENDING` until DNS points at the LinkShift target IP\n(`APP_DOMAIN_TARGET_IP`). Call POST `/api/v1/domains/{id}/verify-dns` to check manually, or\nlet the edge probe succeed on first HTTPS traffic.\n\n**Internal (not in this spec):** Caddy calls `GET /check-domain?domain={hostname}` before\non-demand TLS for custom domains. That endpoint returns **403** when the hostname is unknown,\nthe domain group is inactive, or DNS is not verified yet (`dns_pending`). LinkShift subdomains\n(`*.linkshift.app`) skip DNS verification (wildcard TLS).\n"
  },
  "servers": [
    {
      "url": "https://linkshift.app",
      "description": "Production API host"
    }
  ],
  "security": [
    {
      "ApiKeyAuth": []
    }
  ],
  "tags": [
    {
      "name": "Domains",
      "description": "Your custom hostnames assigned to a domain group.\nCreate after the group exists; rules match traffic on these hosts.\n\nNew domains start with `dnsStatus: PENDING` until DNS points at the LinkShift target IP\n(`APP_DOMAIN_TARGET_IP`). Call POST `/api/v1/domains/{id}/verify-dns` to check manually, or\nlet the edge probe succeed on first HTTPS traffic.\n\n**Internal (not in this spec):** Caddy calls `GET /check-domain?domain={hostname}` before\non-demand TLS for custom domains. That endpoint returns **403** when the hostname is unknown,\nthe domain group is inactive, or DNS is not verified yet (`dns_pending`). LinkShift subdomains\n(`*.linkshift.app`) skip DNS verification (wildcard TLS).\n"
    }
  ],
  "paths": {
    "/api/v1/domains": {
      "get": {
        "tags": [
          "Domains"
        ],
        "summary": "List domains",
        "description": "Returns all active custom domains in one response (no cursor pagination).\nFilter client-side by `domainGroupId` when you only need one group.\n",
        "operationId": "listDomains",
        "responses": {
          "200": {
            "description": "Domains list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DomainQueryResult"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      },
      "post": {
        "tags": [
          "Domains"
        ],
        "summary": "Create domain",
        "description": "Registers a custom hostname under `domainGroupId`.\nHostname must match the request pattern; it is stored in lowercase (mixed-case input is normalized).\nThe response includes `dnsStatus: PENDING` until DNS points at the LinkShift target IP and verification succeeds.\nOn-demand TLS (`GET /check-domain`, internal) is denied until DNS is verified.\nReturns 404 when the group ID is invalid; 409 when the hostname is already registered\nplatform-wide (among active records), is reserved on the platform infrastructure,\nor is in a 7-day release cooldown after a recent deletion (hostname reserved globally).\n",
        "operationId": "createDomain",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateDomainRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Created domain",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Domain"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "description": "Hostname already registered platform-wide (active record), in a 7-day release cooldown after a recent deletion, or invalid after normalization. Cooldown `details` follow the pattern: `Domain name {hostname} was recently deleted and is in a 7-day release cooldown until {iso8601}`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "releaseCooldown": {
                    "summary": "Hostname in release cooldown",
                    "value": {
                      "code": 409,
                      "key": "conflict",
                      "message": "Conflict",
                      "details": "Domain name example.com was recently deleted and is in a 7-day release cooldown until 2026-07-04T12:00:00.000Z",
                      "requestId": "req_example"
                    }
                  }
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/api/v1/domains/{id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/EntityId"
        }
      ],
      "get": {
        "tags": [
          "Domains"
        ],
        "summary": "Get domain by ID",
        "description": "Fetches one domain record (`name`, `domainGroupId`, DNS verification fields, timestamps).\nReturns 404 when the ID is unknown, soft-deleted, or outside your organization.\n",
        "operationId": "getDomain",
        "responses": {
          "200": {
            "description": "Domain details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Domain"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      },
      "put": {
        "tags": [
          "Domains"
        ],
        "summary": "Update domain",
        "description": "Moves the domain to another group only. The hostname (`name`) is immutable after creation;\nsending `name` in the body returns 400 (strict request schema).\nTo use a new hostname, delete this domain and create a new one (triggers a new TLS certificate for custom domains).\n`domainGroupId` is required in the body.\n",
        "operationId": "updateDomain",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateDomainRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated domain",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Domain"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      },
      "delete": {
        "tags": [
          "Domains"
        ],
        "summary": "Delete domain (soft)",
        "description": "Soft-deletes the domain. Published links on this hostname stop working immediately.\nThe hostname stays reserved globally for 7 days (release cooldown) before it can be created again.\nReturns 404 when the ID isn't in your organization.\n",
        "operationId": "deleteDomain",
        "responses": {
          "200": {
            "description": "Deleted"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/api/v1/domains/{id}/verify-dns": {
      "parameters": [
        {
          "$ref": "#/components/parameters/EntityId"
        }
      ],
      "post": {
        "tags": [
          "Domains"
        ],
        "summary": "Verify domain DNS",
        "description": "Performs a live DNS lookup for the domain's hostname and updates `dnsStatus`,\n`dnsVerifiedAt`, and `dnsLastCheckedAt`.\n\nResolves A records (following CNAME chains) and compares them to the platform target IP\n(`APP_DOMAIN_TARGET_IP`). On success, sets `dnsStatus` to `VERIFIED` and clears the edge\n`check-domain` gate for on-demand TLS. On failure, sets `dnsStatus` to `FAILED`.\n\nDoes not apply to LinkShift subdomains. Idempotent — safe to retry after DNS propagation.\n",
        "operationId": "verifyDomainDns",
        "responses": {
          "200": {
            "description": "Updated domain with DNS verification result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Domain"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "DomainQueryResult": {
        "description": "Paginated domain query response.",
        "allOf": [
          {
            "$ref": "#/components/schemas/QueryResultMeta"
          },
          {
            "type": "object",
            "properties": {
              "data": {
                "type": "array",
                "description": "Domain items in current page.",
                "items": {
                  "$ref": "#/components/schemas/Domain"
                }
              }
            },
            "required": [
              "data"
            ]
          }
        ]
      },
      "CreateDomainRequest": {
        "description": "Payload for creating a domain. Hostnames are stored in lowercase.",
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "minLength": 1,
            "description": "Fully qualified domain name (DNS hostname labels). The API accepts mixed-case input and normalizes to lowercase before persistence; the pattern below is the stored form.",
            "pattern": "^(?:[a-z0-9](?:[a-z0-9-]{0,61}[a-z0-9])?\\.)*[a-z0-9](?:[a-z0-9-]{0,61}[a-z0-9])?$"
          },
          "domainGroupId": {
            "type": "string",
            "maxLength": 100,
            "description": "Target domain-group ID."
          }
        },
        "required": [
          "name",
          "domainGroupId"
        ]
      },
      "Domain": {
        "description": "Domain entity assigned to a domain group.\nCustom domains start with `dnsStatus: PENDING` on create. TLS and redirect routing on the\nedge require verified DNS (`VERIFIED`) unless the edge probe succeeds during `check-domain`.\n",
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Domain ID."
          },
          "name": {
            "type": "string",
            "description": "Fully qualified domain name."
          },
          "domainGroupId": {
            "type": "string",
            "description": "Parent domain-group ID."
          },
          "dnsStatus": {
            "$ref": "#/components/schemas/DomainDnsStatus"
          },
          "dnsVerifiedAt": {
            "type": "string",
            "format": "date-time",
            "nullable": true,
            "description": "UTC timestamp when DNS last verified successfully (null until first success)."
          },
          "dnsLastCheckedAt": {
            "type": "string",
            "format": "date-time",
            "nullable": true,
            "description": "UTC timestamp of the most recent DNS verification attempt."
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "Creation timestamp (UTC)."
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time",
            "description": "Last update timestamp (UTC)."
          },
          "deletedAt": {
            "type": "string",
            "format": "date-time",
            "nullable": true,
            "description": "Soft-delete timestamp in UTC when deleted."
          }
        },
        "required": [
          "id",
          "name",
          "domainGroupId",
          "dnsStatus",
          "createdAt",
          "updatedAt"
        ]
      },
      "ErrorResponse": {
        "description": "Standard error envelope. Use `key` for branching in code, `details` for human-readable fixes,\nand `requestId` when escalating to support.\n",
        "type": "object",
        "properties": {
          "code": {
            "type": "integer",
            "description": "HTTP-like numeric status code."
          },
          "key": {
            "type": "string",
            "description": "Stable machine-readable error key."
          },
          "message": {
            "type": "string",
            "description": "Short error summary."
          },
          "details": {
            "type": "string",
            "description": "Human-readable details explaining the error."
          },
          "requestId": {
            "type": "string",
            "description": "Correlation ID useful for support and troubleshooting."
          },
          "feature": {
            "type": "string",
            "description": "Optional feature gate identifier when relevant (for example `api_access`)."
          }
        },
        "required": [
          "code",
          "key",
          "message"
        ]
      },
      "UpdateDomainRequest": {
        "description": "Payload for updating a domain. Only `domainGroupId` is accepted; hostname is immutable (sending `name` returns 400).",
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "domainGroupId": {
            "type": "string",
            "maxLength": 100,
            "description": "Target domain-group ID."
          }
        },
        "required": [
          "domainGroupId"
        ]
      },
      "QueryResultMeta": {
        "description": "Metadata envelope shared by cursor-paginated query responses.",
        "type": "object",
        "properties": {
          "dataType": {
            "type": "string",
            "description": "Logical item type in the `data` array."
          },
          "hasMore": {
            "type": "boolean",
            "description": "Whether there are additional results after this page."
          },
          "moreStartingAfterId": {
            "type": "string",
            "description": "Cursor token to request the next page."
          }
        },
        "required": [
          "dataType",
          "hasMore"
        ]
      },
      "DomainDnsStatus": {
        "description": "DNS verification state for custom domains. LinkShift subdomains do not use this field.\n`PENDING` — created but DNS not yet confirmed; edge TLS blocked via internal `check-domain`.\n`VERIFIED` — A record (or CNAME chain) points at the LinkShift target IP.\n`FAILED` — last manual or automatic check did not find the target IP.\n",
        "type": "string",
        "enum": [
          "PENDING",
          "VERIFIED",
          "FAILED"
        ]
      }
    },
    "responses": {
      "Unauthorized": {
        "description": "Missing or invalid API key. Verify the `X-API-Key` header and that the key wasn't revoked in the dashboard; rotate if needed, then retry.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            },
            "examples": {
              "unauthorized": {
                "value": {
                  "code": 401,
                  "key": "unauthorized",
                  "message": "Unauthorized",
                  "details": "Missing or invalid API key.",
                  "requestId": "req_example"
                }
              }
            }
          }
        }
      },
      "PaymentRequired": {
        "description": "API access isn't enabled on your subscription (`feature` is often `api_access`). Upgrade the plan in the dashboard, then retry with the same key.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            },
            "examples": {
              "paymentRequired": {
                "value": {
                  "code": 402,
                  "key": "payment_required",
                  "message": "Payment required",
                  "feature": "api_access",
                  "details": "API key usage is available on paid plans only. Upgrade your subscription to use API access.",
                  "requestId": "req_example"
                }
              }
            }
          }
        }
      },
      "TooManyRequests": {
        "description": "Per-key rate limit for your plan. Back off exponentially with jitter; avoid tight retry loops. Check GET organization/usage for current inventory (limits are plan-defined, not returned here).",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            },
            "examples": {
              "tooManyRequests": {
                "value": {
                  "code": 429,
                  "key": "too_many_requests",
                  "message": "Too many requests",
                  "details": "API key rate limit exceeded",
                  "requestId": "req_example"
                }
              }
            }
          }
        }
      },
      "NotFound": {
        "description": "Resource ID doesn't exist, was soft-deleted, or isn't in your organization. Confirm the ID from a fresh list call and that you're using the correct API key.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "BadRequest": {
        "description": "Request body or query failed validation. Read `details` (and optional field hints) in the JSON body; fix the payload and retry. Include `requestId` when contacting support.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      }
    },
    "parameters": {
      "EntityId": {
        "name": "id",
        "in": "path",
        "required": true,
        "description": "Resource ID from a prior list or create response (same string you store in automation state). Wrong or foreign-org IDs return 404.",
        "schema": {
          "type": "string"
        }
      }
    },
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-Key",
        "description": "Organization API key from the dashboard (Organization → API keys).\nSend via `X-API-Key` on every request in this spec.\n"
      }
    }
  },
  "x-linkshift": {
    "sourceTag": "Domains",
    "operationCount": 6,
    "generatedBy": "scripts/openapi-split-by-tag.mjs"
  }
}
